


<select id="state_source" name="state_source">
	<option state_abbr = "AK">AK</option>
	<option state_abbr = "AL">AL</option>
	<option state_abbr = "AR">AR</option>
	<option state_abbr = "AZ">AZ</option>
	<option state_abbr = "MS">MS</option>
	<option state_abbr = "CO">CO</option>
	<option state_abbr = "CT">CT</option>
	<option state_abbr = "DC">DC</option>
	<option state_abbr = "DE">DE</option>
	<option state_abbr = "FL">FL</option>
	<option state_abbr = "GA">GA</option>
	<option state_abbr = "HI">HI</option>
	<option state_abbr = "IA">IA</option>
	<option state_abbr = "ID">ID</option>
	<option state_abbr = "IL">IL</option>
	<option state_abbr = "IN">IN</option>
	<option state_abbr = "KS">KS</option>
	<option state_abbr = "LA">LA</option>
	<option state_abbr = "MA">MA</option>
	<option state_abbr = "MD">MD</option>
	<option state_abbr = "ME">ME</option>
	<option state_abbr = "MI">MI</option>
	<option state_abbr = "MN">MN</option>
	<option state_abbr = "MO">MO</option>
	<option state_abbr = "MS">MS</option>
	<option state_abbr = "MT">MT</option>
	<option state_abbr = "NC">NC</option>
	<option state_abbr = "ND">ND</option>
	<option state_abbr = "NE">NE</option>
	<option state_abbr = "NH">NH</option>
	<option state_abbr = "NJ">NJ</option>
	<option state_abbr = "NM">NM</option>
	<option state_abbr = "NV">NV</option>
	<option state_abbr = "NY">NY</option>
	<option state_abbr = "OH">OH</option>
	<option state_abbr = "OK">OK</option>
	<option state_abbr = "OR">OR</option>
	<option state_abbr = "PA">PA</option>
	<option state_abbr = "RI">RI</option>
	<option state_abbr = "SC">SC</option>
	<option state_abbr = "SD">SD</option>
	<option state_abbr = "TN">TN</option>
	<option state_abbr = "TX">TX</option>
	<option state_abbr = "US" selected>US</option>
	<option state_abbr = "UT">UT</option>
	<option state_abbr = "VA">VA</option>
	<option state_abbr = "VT">VT</option>
	<option state_abbr = "WA">WA</option>
	<option state_abbr = "WI">WI</option>
	<option state_abbr = "WV">WV</option>
	<option state_abbr = "WY">WY</option>
</select>

<div id="fuel_graph">
	<h2>Fuel Graph Here</h2>
</div>